@import '../../sass/main.scss';

.Product{
    position:relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: $color-white;

    &__imageWrapper {
        padding: 2rem;
        position: relative;
        text-align: center;

        .Product__image {
            max-width: 100%;
            height: auto;
        }

    }

    .Figure{
        margin: 3rem 0;
        text-align: center;
    }

    &__details {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        padding: 1rem 2rem 2rem;
        text-align: center;

        .Product{
            
            &__title {
                padding-bottom: 1rem; 
                
                font-family: 'Lato-Bold', sans-serif;
                font-size: 1.4rem;
                letter-spacing: 1.37px;
                text-transform: uppercase;
            }
        
            &__subtitle {
                padding-bottom: 1rem; 
            
                font-size: 1.2rem;
                line-height: 1.9rem;
                letter-spacing: .043px;
            
                color: $color-dark;
            }

            &__price {
                padding-bottom: 2rem;
                
                font-family: 'Lato-Bold', sans-serif;
                font-size: 1.4rem;
                letter-spacing: .2.33px;

                .Product__price__strike {
                    margin-right: 1rem;
                    text-decoration: line-through;
                }
                
                .Product__price__discounted {
                    color: $red;
                }

            }

        }

        .ButtonInCart {
            pointer-events: none;
            background-color: #d9d9d9;
        }

    }

    .WishlistButton {
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        top: 10px;
        right: 10px;

        padding:.8rem;

        &:hover{
            background: $color-white;
            svg > polygon{
                fill:#444A59;
            }
        }

        .Icon{
            width:2rem;
            height:2rem;

            polygon{
                fill: #D9D9E6;
            }
        }
    }
    
    
}