.Price {
    padding-bottom: 20px;
    
    font-family: 'Lato-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 2.33px;

    .Strike {
        margin-right: 10px;
        text-decoration: line-through;
    }
    
    .Discounted {
        color: #F54B5E;
    }

}

