@import '../../sass/main.scss';

.Price {
    padding-bottom: 2rem;
    
    font-family: $font-bold, $second-font;
    font-size: 1.4rem;
    letter-spacing: 2.33px;

    .Strike {
        margin-right: 1rem;
        text-decoration: line-through;
    }
    
    .Discounted {
        color: $red;
    }

}

