@import '../../sass/main.scss';

$size-button-remove: 2rem;

.ListBag{

    width:27rem;

    .Product{
        border-bottom: 1px solid #d9d9d9;
        padding:2rem 1.5rem;
        display: block;
        position: relative;
        height:11rem;

        .Image{
            width:6rem;
            float:left;
            margin-right:1.3rem;
        }

        .Name{
            font-size:1rem;
            color: $color-black;
            font-weight: bold;
        }


        .RemoveBagButton{
            width: $size-button-remove;
            height: $size-button-remove;
            right: 15px;
            top: 15px;
            position: absolute;
            line-height: .2px;
            padding: 0;
            text-align: -webkit-center;
            font-size: 1rem;
        }

        &:nth-of-type(even) {
            background: #f8f8f8;
        }

    }

    .Total{
        text-transform: uppercase;
        padding: 1.5rem 1rem;
        margin-bottom:1rem;
        width:23rem;
        margin-left:2rem;
        margin-top:1rem;

        border-bottom:1px dotted #d9d9d9;

        span{
            float:right;
        }
    }


}