@import '../../sass/main.scss';

$size-button-remove: 2rem;

.ListProducts{

    width:27rem;

    max-height: 29rem;
    overflow-y: auto;

    .NoProductsShow{
        font-size:1.4rem;
        padding:2rem;
        text-align: center;
    }

    .Product{
        border-bottom: 1px solid #d9d9d9;
        padding:2rem 1.5rem;
        display: block;
        position: relative;
        height:9rem;

        .Image{
            width:4rem;
            float:left;
            margin-right:1.3rem;
        }

        .Name{
            font-size:1rem;
            color: $color-black;
            font-weight: bold;
        }


        .RemoveBagButton{
            width: $size-button-remove;
            height: $size-button-remove;
            right: 1.5rem;
            top: 1.5rem;
            position: absolute;
            line-height: .2px;
            padding: 0;
            text-align: -webkit-center;
            font-size: 1rem;
        }

        &:nth-of-type(even) {
            background: $color-ligh-gray;
        }

    }

}

.Total{
    text-transform: uppercase;
    padding: 1.5rem 1rem;
    margin-bottom:.5rem;
    width:23rem;
    margin-left:2rem;
    margin-top:1rem;

    border-bottom:1px dotted $color-gray;

    span{
        float:right;
    }
}