//--------------------//
//       COLORS       //
//--------------------//

// Shades of black
$color-black: #000;

// Shades of grey
$color-dark-gray: #444A59;
$color-dark: #808080;
$color-ligh-gray: #f8f8f8;


// Shades of white
$color-white: #FFF;

$red: #F54B5E




