//--------------------//
//       COLORS       //
//--------------------//

// Shades of black
$color-black: #000;

// Shades of grey
$color-dark-gray: #444A59;
$color-dark: #808080;
$color-gray: #d9d9d9;
$color-ligh-gray: #f8f8f8;
$color-gray-light2: #D9D9E6;

// Shades of blue
$blue: #358ED7;

// Shades of white
$color-white: #FFF;

//Shades red
$red: #F54B5E




