@import '../../../sass/main.scss';

.Button {
    border: .1rem solid transparent;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0 1rem;
    height: $button-height;
    border-radius: .3rem;
    font-size: 1.4rem;
    &:active {
        transform: translateY(.3rem);
    }
}