@import '../../sass/main.scss';


.Button {
    border: 1px solid $color-gray;
    border-radius: 100px;
    background-color: $color-white;
    
    cursor: pointer;
    transition: .3s border, .3s color, .3s background-color;

    font-family: $font-bold, $second-font;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1.39px;

    padding: 13px;

    &:hover {
        border: 1px solid $color-dark-gray;
        color: $color-white;
        background-color: $color-dark-gray;
    }
}