@import '../../sass/main.scss';


.Pagination {
    height: 4.5rem;
    margin: 3rem auto;
    text-align: center;

    &__list {
        height: 100%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        .PaginationItem{
            height: 100%;
            width: 4.5rem;
            font-family: $font-bold, $second-font;
            font-size: 1.3rem;
            letter-spacing: 1.39px;
            text-align: center;

            .PaginationLink{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-dark-gray;
                cursor: pointer;
                
                &.PageCurrent{
                    font-size:1.8rem;
                    font-weight: bold;
                    pointer-events: none;
                    color: $blue;
                }

                &:hover{
                    text-decoration: underline;
                }

                .icon {
                    width: 8px;
                    fill: $color-dark-gray;
                }
            }

            .Disabled{
                pointer-events: none;
                opacity: .5;
            }

        }


    }

}