
@import '../main.scss';


/* ==========================================================================
   Main Styles
   ========================================================================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    height: 100%;
    
    // rem definitions:
    font-size: 62.5%; // 1 rem = 10px
}


body {
    min-height: 100%;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    
    font-family: $font-default, sans-serif;
    font-size: 1.3rem;
    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;  /* Font smoothing tweaks for MacOSx in Gecko */
    -webkit-font-smoothing: antialiased;
    
    color: $color-dark-gray;
    background-color: #f8f8f8;

    box-sizing: border-box;
}

h1, p, figure {
    margin: 0;
    font-weight: normal;
}

a,
a:hover,
a:visited{
    text-decoration: none;
    color: $color-dark-gray;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

button {
    appearance: none;
    border: 0;

    &:focus {
        outline: none;
    }
}

header,
footer {
    height: 6rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    text-transform: uppercase;
    background-color: $color-white;
}

.container {
    width: 100%;
    max-width: 124rem;
    padding: 0 4rem;
    margin: 0 auto;
}